[Desktop Entry]
Type=Application
Version=1.5
Name=Nous
GenericName=Chat Client
Comment=A private desktop client for local Ollama models
Exec=nous
Icon=nous
Terminal=false
Categories=Utility;
Keywords=Ollama;Chat;LLM;Companion;AI;
StartupNotify=true
StartupWMClass=Nous